{% extends "base.html" %}
{% block title %}Classroom{% endblock title %}

{% comment %}
2
file này hiển thị sơ đồ lớp học và các tính năng chính của web
- Xem thông tin học sinh
-Xếp loại tiết hoc
-
{% endcomment %}

{% block content %}


    {% comment %} code viết trong này{% endcomment %}
    {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><a class="dropdown-item" href="#">Another link</a></li>
          <li><a class="dropdown-item" href="#">A third link</a></li>
        </ul>
      </li> {% endcomment %}
<div>
  <div>
    <div class="container-fluid" style="margin-top: 5% ">
      <div class="container-fluid row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
          <div style="  margin-bottom: 10px" class="row">
            <div class="container px-4" style="margin-top: 10px">
              <div class="row gx-5">
                <div class="col">
                  <div class="container px-4 overflow-hidden">
                    <div class="row gx-5">
                      <div class="col">
                       <div class="p-3 border bg-light">Custom column padding</div>
                      </div>
                      <div class="col">
                        <div class="p-3 border bg-light">Custom column padding</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} <p class="col-2 display-7  text-white text-center" style="font-size: 30px">{{class}} </p> {% endcomment %}
           
          </div>
            <div class="card" style="margin-top: 20px; margin-bottom: 10px">
              <div class="card-body">
                <h5 class="card-title">Sơ Đồ Lớp</h5>
                <div class="row row-cols-4" style="margin-top: 20px margin-bottom: 20px">
          
                    {% comment %} <thead>
                        <th class="text-center lead font-weight-bold">Dãy 1</th>
                    </thead> {% endcomment %}
                    <tbody>
                        {% for student in Students %}
                        <table class="col-sm-3 table-striped table-bodered table-hover table-light table-responsive-sm" style="border-collapse: separate; border-spacing: 0">
                            <tr>
                                <td class="text-center p-5">
                                    <a href="{% url 'student_detail' student.student_ID %}" class="text-white btn btn-primary">{{ student.student_name }}</a>
                                </td>
                            </tr>
                          </table>
                        {% endfor %}
                    </tbody>
              </div> 
              </div>

            </div>
            
            <div class="input-group" style="margin-top: 30px ; margin-bottom: 50px">
              <span class="input-group-text"><button href = "" class="text-dark btn">Nhận xét</button></span>
              <textarea class="form-control" aria-label="Nhận xét" style="width:80%; height: 150px"></textarea>
            </div>
        </div>
        <div class="col-sm-2">
          <div class="card display-7">
            <div class="card-body">
              <p class="text-Blue text-center" style="font-size: 20px">{{ current_time }}</p>
            </div>
          </div>
        </div>


      </div>

    </div>
    
  </div>  
  
</div>
      
    
    
{% endblock %}

