{% extends "base.html" %}
{% block title %}Classroom{% endblock title %}

{% comment %}
2
file này hiển thị sơ đồ lớp học và các tính năng chính của web
- Xem thông tin học sinh
-Xếp loại tiết hoc
-
{% endcomment %}

{% block content %}

<div>
  <div>
    <div class="container-fluid" style="margin-top: 5% ">
      <div class="container-fluid row">
        {% comment %} <div class="col-sm-1"></div> {% endcomment %}
        <div class="col-sm-8">
          <div style="  margin-bottom: 10px" class="row">
            <div class="container" style="margin-top: 10px">
              <div class="row">
                <div class="col">
                  <div class="container overflow-hidden">
                    <div class="row">
                      <div class="col-3">
                       <div class="p-3 border bg-light text-center d-flex align-items-center justify-content-center" style="border-radius: 10px; height: 60px">{{ class.class_CODE }}</div>
                      </div>
                      <div class="col-3">
                        <div class="p-3 border bg-light text-center d-flex align-items-center justify-content-center" style="border-radius: 10px; height: 60px">{{subject_code.subject_name}}</div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
            <div class="card" style="margin-top: 2%; margin-bottom: 1%">
              <div class="card-body">
                <h5 class="card-title">Sơ Đồ Lớp</h5>
                <div class="row row-cols-4" style="margin-top: 2% margin-bottom: 2%">
                    <tbody >
                        {% for student in Students %}
                        <div class="col-sm-3 mb-3">
                            <div class="card border-primary">
                                <div class="card-body text-center d-flex align-items-center justify-content-center" style="margin-top: 2%; margin-bottom: 1%">
                                    <a href="{% url 'student_detail' student.student_ID %}" class="text-white btn btn-primary text-truncate" style="font-size: 1em">{{ student.student_name }}</a>
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </tbody>
              </div> 
              </div>

            </div>
            
        </div>
        <div class="col-sm-4">
          <div class="card display-5" style="margin-top: 10px">
            <div class="card-body" style="height: 60px">
              <p class="text-Blue text-center" style="font-size: 20px; ">{{ current_time }}</p>
            </div>
          </div>

          <div class="card display-5" style="margin-top: 4%; background-color: #07478D">
            <div class="card-body row" style="height: 5%">
              <h5 class="card-title text-center text-white">Dạy học</h5>
              <div class="col-1"></div>
              <div class="col-10">
                <button type="submit" class="btn text-white" value="Chọn" style="transform: scale(0.8); width:60%;margin-left: auto; margin-right: auto; display: block; font-size: 0.5em; border-radius: 30px; background-image: linear-gradient(to right, #126DBC, #8C52FF);border: none;">Bắt đầu tiết học</button>                
            
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
    
  </div>  
  
</div>
    
{% endblock %}


      
    
    

