{% extends "base.html" %}
{% load static %}
{% block title %}Details{% endblock title %}

{% comment %}
3
File deatails dùng để hiển thị chi tiết thông tin của học sinh khi giáo viên bộ môn kích vào
- Họ tên, id, điểm môn học đó
{% endcomment %}

{% block content %}
<div class="row"> 
    <div class="col-1"></div>
    <div class="col-2">
        <img src="{% static "illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" %}" class="img-thumbnail" alt="...">
    </div>

    <div class="col-8">
        <div class="card">
            <h3 class="card-title text-center">Thông tin học sinh</h3>
            <div class="card-body">   
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">ID</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.student_ID }}</td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Tên</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.student_name }}</td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Lớp</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.classroom }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div> 
    <div class="col-1"></div>   
</div>

<div class="row" style="margin-top: 1%">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card" style="background-color: #07478D">
            <div class="card-body row">
                <div class="col-7">
                    <h2 class="card-title text-white" style="margin-top: 2%;">Điểm</h2>
                    {% for score in scores %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ score.subject }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Điểm K1</th>
                            <td>{{ score.K1_score }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Điểm K2</th>
                            <td>{{ score.K2_score }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Điểm K3</th>
                            <td>{{ score.K3_score }}</td>
                        </tr>

                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                {% comment %} Chấm điểm  {% endcomment %}
                <div class="col-5">
                    <h2 class="card-title text-white text-center" style="margin-top: 2%;">Chấm điểm</h2>
                    <div class="row" style="margin-top:5%">
                        <div class="col-1"></div>
                        <div class="col-4">
                            <form method="POST" class="content" style=" width: 100%; margin: 0 auto; text-align: center;"> 
                                {% csrf_token %}    
                                <select name="score_type" class="form-select class_code" aria-label="Default select example" style="width: 100%; font-size: 1em;">
                                        <option class="text-center" style="font-size: 1em" value="">Loại điểm</option>
                                        <option class="text-center" style="font-size: 1em" value="K1_score">K1_score</option>
                                        <option class="text-center" style="font-size: 1em" value="K2_score">K2_score</option>
                                        <option class="text-center" style="font-size: 1em" value="K3_score">K3_score</option>
                                </select>
                            
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Nhập điểm</span>
                                <input name="score_value" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div> 
                        <div class="col-1"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Chọn" style="transform: scale(1.0); width:30%; margin-top: 3%; margin-left: auto; margin-right: auto; display: block; font-size: 1em">Submit</button>
                </div> 
                 {% comment %} <form method="post" class="content" style=" width: 100%; margin: 0 auto; text-align: center;">
                    {% csrf_token %}
                    <select name="score_type" class="form-select class_code" aria-label="Default select example" style="width: 100%; font-size: 1em;">
                        <option class="text-center" style="font-size: 1em" value="">Loại điểm</option>
                        <option class="text-center" style="font-size: 1em" value="K1_score">K1_score</option>
                        <option class="text-center" style="font-size: 1em" value="K2_score">K2_score</option>
                        <option class="text-center" style="font-size: 1em" value="K3_score">K3_score</option>
                    </select>
                    <input type="text" name="score_value" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <button type="submit" class="btn btn-primary" value="Chọn" style="transform: scale(1.0); width:30%; margin-top: 3%; margin-left: auto; margin-right: auto; display: block; font-size: 1em">Submit</button>
                </form>  {% endcomment %}
                    <button type="submit" class="btn btn-primary" value="Chọn" style="transform: scale(1.0); width:30%; margin-top: 3%; margin-left: auto; margin-right: auto; display: block; font-size: 1em; background-image: linear-gradient(to right, #126DBC, #8C52FF);border: none;">Submit</button>
                </div>

            </div>
        </div>
    </div> 
    <div class="col-1"></div>   
</div>   
<br>
<br>
<div class="card">
    <div class="card-body">
        <form method="post" action="">
        {% comment %} <form method="post" action="/}"> {% endcomment %}
            {% csrf_token %}
            {% comment %} <label>Student:</label>
  {{ form.student.student_name }}
  <br/>
  <label for="{{ form.subject.id_for_label }}">Subject:</label>
  {{ form.subject.subject_name }}
  <br/>
  <label for="{{ form.K1_score.id_for_label }}">K1 Score:</label>
  {{ form.K1_score }}
  <br/>
  <label for="{{ form.K2_score.id_for_label }}">K2_score:</label>
  {{ form.K2_score }}
  <br/>
  <label for="{{ form.K3_score.id_for_label }}">K3_score:</label>
  {{ form.K3_score }}
  <br/> {% endcomment %}
  {{form.as_p}}
            <button type="submit">Add Score</button>
          </form> 
    </div>
</div>
{% endblock content %}