{% extends "base.html" %}
{% block title %}Option{% endblock title %}


{% block content %}
<div class="container-fluid row">
    <div class="col-3"></div>
    <div class="card col-6 row" style="margin-top: 10%; height: 25rem">
        <h4 class="card-title text-center font-weight-bold" style="margin-top: 5%; font-size:30px ">Chọn lớp học</h4>
        <div class="card-body">
                <form method="post" class="content" style="margin-top: 50px; width: 80%; margin: 0 auto; padding: 20px; text-align: center;">
                    {% csrf_token %}     
                    <select class="form-select class_code" aria-label="Default select example" style="width: 100%; font-size: 30px;">
                        {% for class in classes %} 
                            <option class="text-center" value="{{ class.class_CODE }}">{{ class.class_CODE }}</option>
                        {% endfor %}  
                    </select>
                    <button type="submit" class="btn btn-primary" value="Chọn" style="transform: scale(1.2); width:40%; margin-top: 15%; margin-left: auto; margin-right: auto; display: block;">Submit</button>
                </form>

            {% if subjects %}
                <h2>Môn học trong lớp {{ classes.class_CODE }}:</h2>
                <ul>
                    {% for subject in subjects %}
                        <li>{{ subject.subject_name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-3"></div>
</div>    
{% endblock content %}