{% extends "base.html" %}
{% load static %}
{% block title %}Student_grade{% endblock title %}

{% comment %}
5
- Hiển thị điểm các môn của học sinh 
{% endcomment %}

{% block content %}
<div class="row"> 
    <div class="col-1"></div>
    <div class="col-2">
        <img src="{% static "illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" %}" class="img-thumbnail" alt="...">
    </div>

    <div class="col-8">
        <div class="card">
            <h3 class="card-title text-center">Thông tin học sinh</h3>
            <div class="card-body">   
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">ID</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.student_ID }}</td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Tên</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.student_name }}</td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Lớp</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.classroom }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div> 
    <div class="col-1"></div>   
</div>

<div class="row" style="margin-top: 1%">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card" style="background-color: #07478D">
            <div class="card-body">
                <h2 class="card-title text-white" style="margin-top: 2%;">Điểm</h2>
                {% for score in scores %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ score.subject }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Điểm K1</th>
                        <td>{{ score.K1_score }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Điểm K2</th>
                        <td>{{ score.K2_score }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Điểm K3</th>
                        <td>{{ score.K3_score }}</td>
                    </tr>

                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div> 
    <div class="col-1"></div>   
</div>


{% endblock content %}