
{% extends "base.html" %}
{% load static %}
{% block title %}Details{% endblock title %}

{% comment %}
3
File deatails dùng để hiển thị chi tiết thông tin của học sinh khi giáo viên bộ môn kích vào
- Họ tên, id, điểm môn học đó
{% endcomment %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}