{% extends "base.html" %}
{% block title %}Classroom{% endblock title %}

{% comment %} page này chứa sơ đồ lớp học.... {% endcomment %}

{% block content %}


    {% comment %} code viết trong này{% endcomment %}
    {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><a class="dropdown-item" href="#">Another link</a></li>
          <li><a class="dropdown-item" href="#">A third link</a></li>
        </ul>
      </li> {% endcomment %}
<body style="background-color: #2385C4;">
  <div class="container-fluid" style="margin-top: 5% ">
    <div class="container-fluid row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <p class="mt-3 display-6 font-weight-bold text-white">Sơ đồ lớp</p>
        <div class="row">
                <table class="col-sm-3 table-striped table-bodered table-hover table-light table-responsive-sm" style="border-collapse: separate; border-spacing: 0">
                  <thead>
                    <th class="text-center lead font-weight-bold">Dãy 1</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                  </tbody>
                </table>


                <table class="col-sm-3 table-striped table-bodered table-hover table-light table-responsive-sm " style="border-collapse: separate; border-spacing: 0">
                  <thead>
                  <th class="text-center lead font-weight-bold">Dãy 2</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                  </tbody>
                </table>


                <table class="col-sm-3 table-striped table-bodered table-hover table-light table-responsive-sm" style="border-collapse: separate; border-spacing: 0">
                  <thead>
                  <th class="text-center lead font-weight-bold">Dãy 3</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                  </tbody>
                </table>


                <table class="col-sm-3 table-striped table-bodered table-hover table-light table-responsive-sm" style="border-collapse: separate; border-spacing: 0">
                  <thead>
                  <th class="text-center lead font-weight-bold">Dãy 4</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                    <tr>
                      <td class="text-center p-5"><button href = "" class="text-white btn btn-primary">Nguyễn Văn A</button></td>
                    </tr>
                  </tbody>
                </table>
          

          
        </div>
      </div>
      <div class="col-sm-1"></div>

    </div>

  </div>
  
</body>
      
    
    
{% endblock %}

