{% extends "base.html" %}
{% block title %}CLASS 4.0{% endblock title %}

{% comment %} 
1
block này hiển thị page home
- Là trang đầu tiên khi người dùng mở web  
- VD https://ctt.hust.edu.vn/ (ctrl +click để mở nhé)
- Gồm: Header , navigation menu , content ( main content ....) Footer
{% endcomment %}

{% block content %}
<button id="loginButton">Đăng nhập</button>

<h1>hello Home </h1>

<!-- Đây là block đăng nhập. Ban đầu, nó sẽ bị ẩn. --> 
<div id="loginBlock" style="display: none;">
    {% include "login2.html" %}
</div>

<!-- Thêm thư viện jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#loginButton").click(function(){
        $("#loginBlock").toggle();
    });
});
</script>
{% endblock content %}